<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Questions' }) %>
</head>

<body class="bg-image">
    <main class="main d-flex">
        <h1 class="main__title text-center">Questions</h1>
        <% for (let i=0; i< questions.length; i++) { %>
            <div class="question">
                <h3 class="question__title">
                    <%= questions[i].question %>
                </h3>
                <ol type="a" class="question__list">
                    <li>
                        <%= questions[i].answers[0] %>
                    </li>
                    <li>
                        <%= questions[i].answers[1] %>
                    </li>
                    <li>
                        <%= questions[i].answers[2] %>
                    </li>
                    <li>
                        <%= questions[i].answers[3] %>
                    </li>
                </ol>
            </div>
        <% } %>
        <%- include('partials/footer') %>
    </main>
</body>

</html>