<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', { title: 'Question List' }) %>
</head>

<body class="bg-image">
    <%- include('partials/header', { isQuiz: false }) %>
    <main class="container main min-vh-100-within d-flex d-flex-col justify-content-center ">
        <h1 class="main__title text-center mt-2">Questions</h1>
        <ol class="question list-group">
        <% for (let i=0; i< questions.length; i++) { %>
            <li class="list-group-item p-1">
                <span>
                    <%= i + 1 %>&rpar;&nbsp;
                </span>
                <p><%= questions[i].question %></p>
                <a href="/questions/<%= questions[i].id %>" class="list-group-button" title="Edit">
                    <%- include('components/edit-svg') %>
                </a>
                <form class="list-group-button" action="/questions/<%= questions[i].id %>?_method=DELETE" method="POST" title="Delete">
                    <button>
                        <%- include('components/delete-svg') %>
                    </button>
                </form>
            </li>
        <% } %>
        </ol>

        <div class="d-flex justify-content-end my-4">
            <a href="/" class="btn btn-primary d-block">Home</a>
            <a href="/questions/new" class="btn d-block ms-4">Add New</a>
        </div>
        <%- include('partials/footer') %>
    </main>
</body>

</html>